<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Diagnostics.OutputWriter.Type.Name" value="TraceOutputWriter"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Diagnostics.TraceSwitch.Level" value="Verbose"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
