<?xml version="1.0" encoding="utf-8"?>
<!--*************************************************************************-->
<!--* Copyright (c) Art Trenton. All rights reserved.                       *-->
<!--* This software is subject to the Microsoft Public License (MS-PL).     *-->
<!--* A copy of the license can be found in the LICENSE.rtf file included   *-->
<!--* in this distribution.                                                 *-->
<!--*                                                                       *-->
<!--* You must not remove this notice, or any other, from this software.    *-->
<!--*************************************************************************-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyJournal.Notebook.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--* =================================================================== *-->
  <!--*  Configure application and user scoped settings for this component  *-->
  <!--* =================================================================== *-->
  <!--* Instructions for configuring the <appSettings> section:             *-->
  <!--* For each value attribute below, review the comments above it for    *-->
  <!--* the list of values you may choose from to configure logging for     *-->
  <!--* this OneNote add-in component.                                      *-->
  <!--* =================================================================== *-->
  <appSettings>
    <!-- Specify the OutputWriter Type Name -->
    <!-- value="LogOutputWriter" | "TraceOutputWriter" -->
    <add key="Diagnostics.OutputWriter.Type.Name" value="LogOutputWriter" />

    <!-- Specify the level of Trace detail to output -->
    <!-- value="Off" | "Verbose" | "Info" | "Warning" | "Error" -->
    <add key="Diagnostics.TraceSwitch.Level" value="Off" />
  </appSettings>

  <!--* =================================================================== *-->
  <!--* Instructions for the <userSettings> section:                        *-->
  <!--* DO NOT MODIFY THIS SECTION.  It is updated by the codebase          *-->
  <!--* MyJournal.Notebook.Properties.Settings.settings component.          *-->
  <!--* =================================================================== *-->
  <userSettings>
    <MyJournal.Notebook.Properties.Settings>
      <setting name="PageTemplate" serializeAs="String">
        <value>OrdinalDay</value>
      </setting>
      <setting name="PaperSize" serializeAs="String">
        <value>Automatic</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </MyJournal.Notebook.Properties.Settings>
  </userSettings>
</configuration>
